*
{
    margin: 0;
    padding: 0;
}

/*-----Navigation-----*/
.especial-p
{
    font-size: 30px;
    width: 100px;
    height: 300px;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand
{
    height: 40px;
    padding-left: 30px;
    padding-top: 30px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: rgb(37, 95, 255);
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color:rgb(34, 34, 34)!important;
    font-weight: 600;
    font-size: 16px;
}
.inicio
{
    height: 35px;
    width: auto;
}
.fa-chevron-left 
{
    width: 50px;
    height: 50px;
}

/*-----About-----*/

#about
{
    padding-top: 50px;
    padding-bottom: 50px;
    color:rgb(82, 82, 82);
}
#about .btn
{
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-content
{
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 10px;
    color:rgb(85, 85, 85);
}
.skills-bar p
{
    margin-bottom: 6px;
    font-weight: 600;
}
.progress-bar
{
    border-radius: 16px;
}
.progress
{
    border-radius: 16px !important;
    margin-bottom: 20px;
}
#iframe2
{
    text-align: center;
    padding-bottom: 30px;
    width: 100%;
    height: 100%;
}
#foto 
{
    width: 100%;
    height: 60%;
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(books.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #efefef;
}
#foto h1
{
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 500%);
}
.icon
{
    font-size: 30px;
    margin: 15px auto;
    padding: 13px;
    height: 60px;
    width: 60px;
    border: 0.5px solid #fff;
    border-radius: 50%;
}

/*-----Materias-----*/

#materias
{
    background-image:
    linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(books.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#materias h1
{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
}
#materias h1::after
{
    content:'';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.materias
{
    margin-top: 2px;
}
.materias .col-md-3:hover
{
    background: rgba(199, 199, 199, 0.411);
    cursor: pointer;
    transition: 0.5s;
}
.materias .col-md-4:hover
{
    background: rgba(199, 199, 199, 0.411);
    cursor: pointer;
    transition: 0.5s;
}
#pomodoro
{
    padding-top: 50px;
    padding-bottom: 50px;
    color:rgb(75, 75, 75);
}
#pomodoro h2
{
    padding-bottom: 20px;
}
.pomodoro-video
{
    height: 67%;
    width: 100%;
}
.links
{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: crimson;
}
.links .icon,h3
{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}
a:hover
{
    text-decoration: none!important;
    color: rgb(255, 255, 255);
}
.real
{
    color: rgb(116, 116, 116);
}

/*-----Paginas-----*/
    /*-----Castellano-----*/
    #materias-cast
    {
        background-image:
        linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(books.jpg);
        background-size: cover;
        background-position: center;
        color: #efefef;
        background-attachment: scroll;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    #materias-cast h1
    {
        text-align: left;
        color: #efefef !important;
        padding-bottom: 10px;
    }
    #materias-cast h1::after
    {
        content:'';
        background: #efefef;
        display: block;
        height: 3px;
        width: 190px;
        margin: 20px 0 5px;
    }
    /*-----Fisica-----*/
    #materias-fisc
    {
        background-image:
        linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(books.jpg);
        background-size: cover;
        background-position: center;
        color: #efefef;
        background-attachment: scroll;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    #materias-fisc h1
    {
        text-align: left;
        color: #efefef !important;
        padding-bottom: 10px;
    }
    #materias-fisc h1::after
    {
        content:'';
        background: #efefef;
        display: block;
        height: 3px;
        width: 100px;
        margin: 20px 0 5px;
    }
    /*-----Gallego-----*/
    #materias-gall
    {
        background-image:
        linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(books.jpg);
        background-size: cover;
        background-position: center;
        color: #efefef;
        background-attachment: scroll;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    #materias-gall h1
    {
        text-align: left;
        color: #efefef !important;
        padding-bottom: 10px;
    }
    #materias-gall h1::after
    {
        content:'';
        background: #efefef;
        display: block;
        height: 3px;
        width: 140px;
        margin: 20px 0 5px;
    }
    /*-----Historia-----*/
    #materias-hist
    {
        background-image:
        linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(books.jpg);
        background-size: cover;
        background-position: center;
        color: #efefef;
        background-attachment: scroll;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    #materias-hist h1
    {
        text-align: left;
        color: #efefef !important;
        padding-bottom: 10px;
    }
    #materias-hist h1::after
    {
        content:'';
        background: #efefef;
        display: block;
        height: 3px;
        width: 145px;
        margin: 20px 0 5px;
    }
    /*-----Ingles-----*/
    #materias-ingl
    {
        background-image:
        linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(books.jpg);
        background-size: cover;
        background-position: center;
        color: #efefef;
        background-attachment: scroll;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    #materias-ingl h1
    {
        text-align: left;
        color: #efefef !important;
        padding-bottom: 10px;
    }
    #materias-ingl h1::after
    {
        content:'';
        background: #efefef;
        display: block;
        height: 3px;
        width: 110px;
        margin: 20px 0 5px;
    }
    /*-----Matematicas-----*/
    #materias-mate
    {
        background-image:
        linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(books.jpg);
        background-size: cover;
        background-position: center;
        color: #efefef;
        background-attachment: scroll;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    #materias-mate h1
    {
        text-align: left;
        color: #efefef !important;
        padding-bottom: 10px;
    }
    #materias-mate h1::after
    {
        content:'';
        background: #efefef;
        display: block;
        height: 3px;
        width: 235px;
        margin: 20px 0 5px;
    }
    /*-----DibujoT-----*/
    #materias-dibu
    {
        background-image:
        linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(books.jpg);
        background-size: cover;
        background-position: center;
        color: #efefef;
        background-attachment: scroll;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    #materias-dibu h1
    {
        text-align: left;
        color: #efefef !important;
        padding-bottom: 10px;
    }
    #materias-dibu h1::after
    {
        content:'';
        background: #efefef;
        display: block;
        height: 3px;
        width: 269px;
        margin: 20px 0 5px;
    }
    
.icon2
{
    font-size: 30px;
    padding: 0px;
}
#about2
{
    padding-top: 50px;
    padding-bottom: 50px;
    color:rgb(83, 83, 83);
    background: rgb(245, 245, 245);
}
.about2-title
{
    padding-top: 15px;
    padding-left: 40px;
}
#about2 p
{
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 40px;
}
.tablas
{
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 40px;
}

/*-----Footer-----*/
#footer
{
    background: rgb(223, 223, 223);
    color: rgb(0, 0, 0);
    padding-top: 15px;
    padding-bottom: 3px;
}